# Phase I: Data Architecture & Quantitative Baseline
pandas
numpy
scipy
yfinance

# Phase II: Machine Learning Execution Engine
xgboost
scikit-learn

# Phase III: Deep Learning Graph Contagion Simulator
networkx
torch
torch-geometric

# Phase IV: Frontend Integration & Visualization
streamlit
plotly